*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#I_top{
    width: 100%;
    height: 100%;
    background: #eee;
}
.I_top{
    margin: 0 auto;
    width: 70%;
    
    height: 40px;
}



.I_top_left li{
    font-size: 12px;
    margin: 0 2px 0 2px;
    line-height: 40px;
    float: left;
}
.I_top_right li{
    margin: 0 5px 0 5px;
    font-size: 12px;
    line-height: 40px;
    float: right;
    position: relative;
}
.wechat img{
    /* display: block; */
    position: absolute;
    right: -25px;
    top: 7px;
    height: 25px;
    width: 25px;
}

#I_logo{
    width: 100%;
    height: 100%;
}
.I_logo{
    
    margin: 0 auto;
    width: 70%;
    padding: 20px 0 20px 0;
    height: 80px;
}
.logo_img{
    float: left;
    width: 360px;
    height: 60px;
}
.logo_input{
    padding-left: 34px;
    float: left;
}
.logo_sou{
    width: 512px;
    height: 40px;
    padding-left: 15px;
    border: 2px solid #58bc58;
}
.logo_sou img{
    margin-top: 5px;
    width: 21px;
    height: 21px;
    
}
.logo_sou input{
    width: 395px;
    height: 40px;
    line-height: 40px;
    border: none;
    outline: none;
    font-size: 18px;
}
.logo_sou button{
    border: none;
    /* line-height: 40px; */
    color: #fff;
    background: #58bc58;
    height: 41px;
    width: 86px;
}
.logo_how a{
    margin: 0 5px 0 0;
    font-size: 14px;
    text-decoration:none ;
    outline:none ;
    color: #000;
}
.logo_cart{
    float: right;
    font-size: 14px;
}
.logo_cart p{
    display: block;
    height: 42px;
    line-height: 42px;
    float: left;
}
.logo_cart img{
    margin-top: 10px;
    /* line-height: 42px; */
    width: 20px;
    height: 19px;
}
.logo_cart span{
    
}
.logo_cart p:nth-child(1){
    width: 78px;
    height: 42px;
    background: #ccc;
    
}
.logo_cart p:nth-child(2){
    background: #DA3A4C;
    color: #fff;
    width: 45px;
    height: 42px;
}
#I_nav{
    width: 100%;
    height: 100%;
}
.I_nav{
    
    margin: 0 auto;
    width: 70%;
    /* padding: 20px 0 20px 0; */
    height: 40px;
}
.nav_wrap{
    float: left;
    position: relative;
}
.nav_total{
    background: #58bc58;
    color: #fff;
    display: block;
    line-height: 40px;
    width: 190px;
    height: 40px;
}
.nav_toli{
    width: 190px;
    height: 480px;
    position: absolute;
    background: #00d2c3;
    overflow: hidden;
}
.nav_toli img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.nav_toli li{
    color: #fff;
    padding-left:15px ;
    width: 190px;
    height: 32px;
    margin-top: 10px;
    line-height: 32px;
    transition: all 0.2s;
}
.nav_toli li:hover{
    background: blue;
    padding-left: 30px;
}
.nav_type{
    float: left;
}
.nav_type li{
    line-height: 40px;
    float: left;
    padding: 0 15px 0 15px;
}


#banner{
    width: 100%;
    height: 100%;
}
.banner{
    width: 70%;
    margin: 0 auto;
}

/*-----------------banner------------------------*/
/*图片的样式*/
#b_box{
	width: 810px;
	height: 480px;
	background: #fff;
	margin: 0px auto;
	position: relative;
	overflow: hidden;
}

.imglist{
	width: 810px;
	height: 480px;
}

.imglist li{
	position: absolute;
	left: 0;
	top: 0;
	width: 810px;
	height: 480px;
	text-align: center;
	line-height: 480px;
	font-size: 40px;
	color: red;
}
.imglist li:nth-child(1){
	background: #0088CC;
}
.imglist li:nth-child(2){
	background: lemonchiffon;
}
.imglist li:nth-child(3){
	background: lavenderblush;
}
.imglist li:nth-child(4){
	background: lightcoral;
}
.imglist li:nth-child(5){
	background: lightcyan;
}
.imglist li:nth-child(6){
	background: lightgreen;
}

/*焦点样式*/
.light{
	width: 810px;
	height: 20px;
	position: absolute;
	left:0;
	bottom: 10px;
	/*background: #ccc;*/
	text-align: center;
}
.light span{
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #d8d8d8;
	font-size: 14px;
	text-align: center;
	line-height: 20px;
	cursor: pointer;
	/*让焦点的文字消失的方法*/
	/*text-indent: -9999px;
	overflow: hidden;*/
}
.light span.active{
	background:orangered;
}

.light span.liang{
	background:lightcoral;
}

/*左右按钮样式*/
.posibtn{
	width: 810px;
	height: 50px;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -25px;
	/*background: #ccc;*/
}
.posibtn p{
	width: 50px;
	height: 50px;
	background: #0074CC;
	cursor: pointer;
	position: absolute;
	top: 0;
	font-size: 50px;
	color: #fff;
	text-align: center;
	line-height: 50px;
}
.posibtn p::selection{
	background: transparent;
}
.posibtn p:nth-child(1){
	left: 10px;
}
.posibtn p:nth-child(2){
	right: 10px;
}
/*-----------------banner------------------------*/